.btn {
    color:white;
    text-decoration:none;
    padding:5px 10px;
    border-radius:5px;
    font-size:1.5rem;
    font-weight: bold;
   }

.btn-blue {
    background-color: #1976d2;
}
.btn-lightblue {
    background-color: #42a5f5;
    border: solid 1px black;
}