.link-to-cart {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    align-items: center;
}

.header-links {
    text-decoration: none;
    color: white;
}

.go-to-cart {
    @media (max-width: 625px) {
        display: none;
        font-size: bold;
        color: red;
    }
}
